<html>
<head>
    <title></title><style>

@page { margin: 0px; }
        body {
            font-size: 8pt;
            font-family: 'Helvetica'
        }
			#img_bg{
				margin:0pt;
				padding:0pt;
				position:absolute;
				left:0pt;
				top:0pt;
				width:100%;
				height:auto;
			}

			.page_break { page-break-before: always; }
    </style>
</head>
x
<body>
	<img src="{IMG_BG}" id="img_bg" />

	<!-- START SECTION A -->
	
		<!-- Point 1 -->
		<div id="full_name1" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 177pt; top: 192.5pt; position: absolute;">{full_name1}</div>

		<!-- Point 2 -->
		<div id="gen_pria1" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 178.2pt; top: 207pt; position: absolute;">{gen_pria1}</div>
		<div id="gen_wanita1" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 227.3pt; top: 207pt; position: absolute;">{gen_wanita1}</div>

		<!-- Point 3 -->
		<div id="date_of_birth1_d" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 182pt; top: 216.5pt; position: absolute;">{date_of_birth1_d}</div>
		<div id="date_of_birth1_m" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 207pt; top: 216.5pt; position: absolute;">{date_of_birth1_m}</div>
		<div id="date_of_birth1_y" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 230pt; top: 216.5pt; position: absolute;">{date_of_birth1_y}</div>

		<!-- Point 4 -->
		<div id="profession1" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 177pt; top: 230.4pt; position: absolute;">{profession1}</div>

		<!-- Point 5 -->
		<div id="company_name1" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 177pt; top: 243pt; position: absolute;">{company_name1}</div>

		<!-- Point 6 -->
		<div id="position1" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 177pt; top: 254pt; position: absolute;">{position1}</div>

		<!-- Point 7 -->
		<div id="source_income1" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 178.2pt; top: 265.7pt; position: absolute;">{income1}</div>
		<div id="source_income2" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 308pt; top: 265.7pt; position: absolute;">{income2}</div>
		<div id="source_income3" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 227pt; top: 265.7pt; position: absolute;">{income3}</div>
		<div id="source_income5" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 400.3pt; top: 265.7pt; position: absolute;">{income5}</div>
		<div id="source_income_lainnya"></div>

		<!-- Point 8 -->
		<div id="nominal_income1" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 178.2pt; top: 278.5pt; position: absolute;">{gross_income1}</div>
		<div id="nominal_income2" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 227pt; top: 278.5pt; position: absolute;">{gross_income2}</div>
		<div id="nominal_income3" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 308pt; top: 278.5pt; position: absolute;">{gross_income3}</div>
		<div id="nominal_income4" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 400.3pt; top: 278.5pt; position: absolute;">{gross_income4}</div>
		<div id="nominal_income5" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 486.6pt; top: 278.5pt; position: absolute;">{gross_income5}</div>

		<!-- Point 9 -->
		<div id="premium_payer_other_income1" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 178pt; top: 290.5pt; position: absolute;">{premium_payer_other_income1}</div>
		<div id="premium_payer_other_income2" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 227pt; top: 290.5pt; position: absolute;">{premium_payer_other_income2}</div>
		<div id="premium_payer_other_income3" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 308pt; top: 290.5pt; position: absolute;">{premium_payer_other_income3}</div>
		<div id="premium_payer_other_income4" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 400.3pt; top: 290.5pt; position: absolute;">{premium_payer_other_income4}</div>
		<div id="premium_payer_other_income5" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 486.6pt; top: 290.5pt; position: absolute;">{premium_payer_other_income5}</div>

		<!-- Point 10 -->
		<div id="premium_payer_other_income_value1" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 178pt; top: 308.5pt; position: absolute;">{premium_payer_other_income_value1}</div>
		<div id="premium_payer_other_income_value2" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 227pt; top: 308.5pt; position: absolute;">{premium_payer_other_income_value2}</div>
		<div id="premium_payer_other_income_value3" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 308pt; top: 308.5pt; position: absolute;">{premium_payer_other_income_value3}</div>
		<div id="premium_payer_other_income_value4" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 400.3pt; top: 308.5pt; position: absolute;">{premium_payer_other_income_value4}</div>
		<div id="premium_payer_other_income_value5" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 178pt; top: 321pt; position: absolute;">{premium_payer_other_income_value5}</div>
		<div id="premium_payer_other_income_value6" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 308pt; top: 321pt; position: absolute;">{premium_payer_other_income_value6}</div>

		<!-- Point 11 -->
		<div id="premium_payer1" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 178.2pt; top: 333.6pt; position: absolute;">{premium_payer1}</div>
		<div id="premium_payer2" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 227.5pt; top: 333.6pt; position: absolute;">{premium_payer2}</div>

	<!-- END SECTION A-->

	<!-- START SECTION B -->

		<!-- Point 12 -->
		<div id="full_name2" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 176pt; top: 386pt; position: absolute;">{full_name2}</div>

		<!-- Point 13 -->
		<div id="gen_pria2" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 178.2pt; top: 401pt; position: absolute;">{gen_pria2}</div>
		<div id="gen_wanita2" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 227.3pt; top: 401pt; position: absolute;">{gen_wanita2}</div>	

		<!-- Point 14 -->
		<div id="date_of_birth2_d"style="font-size: 10px; margin: 0pt; padding: 0pt; left: 182pt; top: 412pt; position: absolute;">{date_of_birth2_d}</div>
		<div id="date_of_birth2_m"style="font-size: 10px; margin: 0pt; padding: 0pt; left: 208pt; top: 412pt; position: absolute;">{date_of_birth2_m}</div>
		<div id="date_of_birth2_y"style="font-size: 10px; margin: 0pt; padding: 0pt; left: 230pt; top: 412pt; position: absolute;">{date_of_birth2_y}</div>

		<!-- Point 15 -->
		<div id="profession2" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 177pt; top: 426pt; position: absolute;">{profession2}</div>

	<!-- END SECTION B -->

	<!-- START SECTION C -->

		<!-- Point 16 -->
		<div id="premium_payer_name3" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 177pt; top: 454.5pt; position: absolute;">{premium_payer_name3}</div>

		<!-- Point 17 -->
		<div id="premium_payer_gen1" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 178.2pt; top: 470pt; position: absolute;">{premium_payer_gen1}</div>
		<div id="premium_payer_gen2" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 227.3pt; top: 470pt; position: absolute;">{premium_payer_gen2}</div>
		
		<!-- Point 18 -->
		<div id="premium_payer_dob_d"style="font-size: 10px; margin: 0pt; padding: 0pt; left: 182pt; top: 480.5pt; position: absolute;">{premium_payer_dob_d}</div>
		<div id="premium_payer_dob_m"style="font-size: 10px; margin: 0pt; padding: 0pt; left: 208pt; top: 480.5pt; position: absolute;">{premium_payer_dob_m}</div>
		<div id="premium_payer_dob_y"style="font-size: 10px; margin: 0pt; padding: 0pt; left: 230pt; top: 480.5pt; position: absolute;">{premium_payer_dob_y}</div>

		<!-- Point 19 -->
		<div id="premium_payer_relationship1" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 178.2pt; top: 496pt; position: absolute;">{premium_payer_relationship1}</div>
		<div id="premium_payer_relationship2" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 227.3pt; top: 496pt; position: absolute;">{premium_payer_relationship2}</div>
		<div id="premium_payer_relationship3" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 296pt; top: 496pt; position: absolute;">{premium_payer_relationship3}</div>
		<div id="premium_payer_relationship4" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 352.3pt; top: 496pt; position: absolute;">{premium_payer_relationship4}</div>
		<div id="premium_payer_relationship5" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 390.5pt; top: 494.5pt; position: absolute;">{premium_payer_relationship5}</div>

		<!-- Point 20 -->
		<div id="premium_payer_profession3" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 177pt; top: 510pt; position: absolute;">{premium_payer_profession3}</div>

		<!-- Point 21 -->
		<div id="premium_payer_company3" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 177pt; top: 522.3pt; position: absolute;">{premium_payer_company3}</div>

		<!-- Point 22 -->
		<div id="premium_payer_position3" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 177pt; top: 533.7pt; position: absolute;">{premium_payer_position3}</div>

		<!-- Point 23 -->
		<div id="premium_payer_source_income1" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 178.2pt; top: 550pt; position: absolute;">{premium_payer_source_income1}</div>
		<div id="premium_payer_source_income2" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 228pt; top: 550pt; position: absolute;">{premium_payer_source_income2}</div>
		<div id="premium_payer_source_income3" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 308pt; top: 550pt; position: absolute;">{premium_payer_source_income3}</div>
		<div id="premium_payer_source_income4" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 400pt; top: 550pt; position: absolute;">{premium_payer_source_income4}</div>

		<!-- Point 24 -->
		<div id="premium_payer_gross_income1" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 178.2pt; top: 562.2pt; position: absolute;">{premium_payer_gross_income1}</div>
		<div id="premium_payer_gross_income2" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 228pt; top: 562.2pt; position: absolute;">{premium_payer_gross_income2}</div>
		<div id="premium_payer_gross_income3" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 308pt; top: 562.2pt; position: absolute;">{premium_payer_gross_income3}</div>
		<div id="premium_payer_gross_income4" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 400pt; top: 562.2pt; position: absolute;">{premium_payer_gross_income4}</div>
		<div id="premium_payer_gross_income5" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 487pt; top: 562.2pt; position: absolute;">{premium_payer_gross_income5}</div>

		<!-- Point 25 -->
		<div id="premium_payer_other_income1" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 178.2pt; top: 574.2pt; position: absolute;">{premium_payer_other_income1}</div>
		<div id="premium_payer_other_income2" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 228pt; top: 574.2pt; position: absolute;">{premium_payer_other_income2}</div>
		<div id="premium_payer_other_income3" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 308pt; top: 574.2pt; position: absolute;">{premium_payer_other_income3}</div>
		<div id="premium_payer_other_income4" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 400pt; top: 574.2pt; position: absolute;">{premium_payer_other_income4}</div>
		<div id="premium_payer_other_income5" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 487pt; top: 574.2pt; position: absolute;">{premium_payer_other_income5}</div>

		<!-- Point 26 -->
		<div id="premium_payer_other_income_value1" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 178.2pt; top: 594pt; position: absolute;">{premium_payer_other_income_value1}</div>
		<div id="premium_payer_other_income_value2" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 228pt; top: 594pt; position: absolute;">{premium_payer_other_income_value2}</div>
		<div id="premium_payer_other_income_value3" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 308pt; top: 594pt; position: absolute;">{premium_payer_other_income_value3}</div>
		<div id="premium_payer_other_income_value4" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 400pt; top: 594pt; position: absolute;">{premium_payer_other_income_value4}</div>
		<div id="premium_payer_other_income_value5" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 178.2pt; top: 607pt; position: absolute;">{premium_payer_other_income_value5}</div>
		<div id="premium_payer_other_income_value6" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 308pt; top: 607pt; position: absolute;">{premium_payer_other_income_value6}</div>

	<!-- END SECTION C -->

	<!-- START SECTION D -->

		<!-- Point 27 -->
		<div id="insurance_purpose8" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 178.3pt; top: 637pt; position: absolute;">{insurance_purpose8}</div>
		<div id="insurance_purpose9" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 228pt; top: 637pt; position: absolute;">{insurance_purpose9}</div>
		<div id="insurance_purpose10" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 402pt; top: 637pt; position: absolute;">{insurance_purpose10}</div>
		<div id="insurance_purpose_jelaskan" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 468pt; top: 636pt; position: absolute;">{insurance_purpose_jelaskan}</div>

		<!-- Point 28 -->
		<div id="cpp_up" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 177pt; top: 648pt; position: absolute;">{cpp_up}</div>

		<!-- Point 29 -->
		<div id="cpp_premi" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 177pt; top: 659.5pt; position: absolute;">{cpp_premi}</div>

		<!-- Point 30 -->
		<div id="premium_frequency1" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 178.5pt; top: 673.2pt; position: absolute;">V</div>
	<!-- END SECTION D -->

	<!-- START SECTION E -->

		<!-- Point 31 -->
		<div id="risk_insurance_before1" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 460pt; top: 727pt; position: absolute;">{risk_insurance_before1}</div>
		<div id="risk_insurance_before2" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 460pt; top: 737pt; position: absolute;">{risk_insurance_before2}</div>

		<!-- Point 32 -->
		<div id="risk_insurance_percent_salary1" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 460pt; top: 764.7pt; position: absolute;">{risk_insurance_percent_salary1}</div>
		<div id="risk_insurance_percent_salary2" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 460pt; top: 773.7pt; position: absolute;">{risk_insurance_percent_salary2}</div>
		<div id="risk_insurance_percent_salary3" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 460pt; top: 783pt; position: absolute;">{risk_insurance_percent_salary3}</div>
		<div id="risk_insurance_percent_salary4" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 460pt; top: 792.5pt; position: absolute;">{risk_insurance_percent_salary4}</div>

		<!-- Point 33 -->
		<div id="risk_insurance_benefits1" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 460pt; top: 828.2pt; position: absolute;">{risk_insurance_benefits1}</div>
		<div id="risk_insurance_benefits2" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 460pt; top: 838pt; position: absolute;">{risk_insurance_benefits2}</div>
		<div id="risk_insurance_benefits3" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 460pt; top: 848pt; position: absolute;">{risk_insurance_benefits3}</div>
		<div id="risk_insurance_benefits4" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 460pt; top: 857.5pt; position: absolute;">{risk_insurance_benefits4}</div>

		<!-- TOTAL PROFILE VALUE -->
		<div id="risk_total_profile4" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 460pt; top: 871.6pt; position: absolute;">{risk_total_profile4}</div>

		<!-- RISK PROFILE CATEGORIES -->
		<div id="risk_category4" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 460pt; top: 884.4pt; position: absolute;">{risk_category4}</div>

	<!-- END SECTION E -->

	<!-- PAGE 2 -->

	<div class="page_break">
		<img src="{IMG_BG2}" id="img_bg" />

		<!-- SIGNATURE PLACE -->
		<div id="signature_place" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 102pt; top: 136pt; position: absolute;">{signature_place}</div>

		<!-- SIGNATURE DATE -->
		<div id="signature_date_d" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 350pt; top: 135.3pt; position: absolute;">{signature_date_d}</div>
		<div id="signature_date_m" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 373pt; top: 135.3pt; position: absolute;">{signature_date_m}</div>
		<div id="signature_date_y" style="font-size: 10px; margin: 0pt; padding: 0pt; left: 397pt; top: 135.3pt; position: absolute;">{signature_date_y}</div>

		<!-- PFA -->
		<!--<div id="sales_name" style="font-size: 12px; margin: 0pt; padding: 0pt; left: 92pt; top: 272.8pt; position: absolute;">{sales_name}</div> -->

		<!-- Signature -->
		<!--<img src="{IMG_SIGNATURE}" id="img_bg" style="width: 120px; height: 120px; margin: 0pt; padding: 0pt; left: 93pt; top: 186pt; position: absolute;" />-->

	</div>

</body>

</html>