<html>

  <head>
  <title></title>
  </head>
  <body>
  <style>
        p{
			text-align: justify;
			text_justify: inter-word;
		}
    </style>
      <p>Kepada Yth,<br>
      Bapak/Ibu {MARKETER_NAME}<br>
	  Di Tempat</p>
	  
	  
	  <p>Terima Kasih telah menjadi mitra perlindungan Asuransi Jiwa dari PT Capital Life Indonesia.</p>
	  
	  <p>Bersama ini kami informasikan Daftar Portofolio Polis Asuransi Nasabah atas nama {POLICY_HOLDER_NAME} Periode {PERIODE}.</p>
	  
	  
	  <table border=0 width="100%">
        <tr>
            <td width=100>Hormat Kami,</td>
        </tr>
        <tr>
            <td width=100>PT CAPITAL LIFE INDONESIA</td>
        </tr>
    </table>
	<br>
	<hr>
<p><span style="color: #999999; font-size: 9pt;">Catatan :<br>
<ol style="color: #999999; font-size: 9pt;margin-top:-10pt;">
<li>Email ini tidak dapat menerima balasan.</li>
<li>Untuk membuka lampiran Ringkasan Pertanggungan dan Konfirmasi Pembayaran Manfaat Investasi, Anda membutuhkan PDF Reader.</li>
<li>Jika Anda bukan Pemegang Polis atau orang yang dituju dalam email ini, maka Anda tidak diperkenankan menggunakan atau memanfaatkan email ini beserta seluruh lampirannya. Penggunaan email ini secara tidak semestinya dapat diproses secara hukum.</li>
<li>Seluruh informasi yang tercantum dalam lampiran email ini bersifat pribadi dan rahasia. Pemegang Polis dan Pemberi Referensi membebaskan PT Capital Life Indonesia dari segala macam tuntutan dan gugatan dari pihak manapun atas penyalahgunaan informasi data informasi yang tercantum dalam lampiran email ini.</li>
<ul>
</span></p>
  </body>

  </html>
